body {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #c0e0e7;
  }
  .content{
    height:500px;
  }
}
.content {
  max-width: 800px;
  overflow-y: hidden;
  margin: auto;
  background-color: #c0e0e7;
}
.head {
  padding: 10px;
  font-family: "Cabin", sans-serif;
}
.header {
  display: inline-block;
  color: #0d677e;
  font-size: 34px;
}
.nav {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-size: 16px;
  display: inline-block;
}
.nav > li {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  color: #0d677e;
  text-decoration: none;
}
/*the social code*/
.blogsocio {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}

.blogsocio li {
  display: inline-block;
  padding-left: 7px;
  font-size: 20px;
}

.blogsocio li > a {
  text-decoration: none;
}

.blogsocio li > a > i {
  color: #0d677e;
}
/* end of social code*/
/*the media query for mobile starts here*/
@media only screen and (max-width: 600px) {
  .header {
    font-size: 25px;
    padding-top: 5px;
  }
  .blogsocio li {
    font-size: 17px;
  }
  .nav {
    font-size: 17px;
    display: flex;
    width: 100%;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home-intro {
    padding: 60px 0 0 20px;
    text-align: center;
  }
  .home-intro-head {
    font-size: 70px;
        letter-spacing: 3px;

  }
  .home-text {
    font-size: 23px;
    letter-spacing: 2px;
  }
  .footer-pc{
    display: none;
  }
  .about{
  padding: 20px 0 0 0;
}
.about-text{
 font-size: 15px;
  padding: 0 30px 0 30px;
}
.img-s{
 max-width: 180px;

}
  
}
/*media query for pc starts here*/
@media only screen and (min-width: 600px) {
  .nav {
    position: absolute;
    left: 50%;
    margin: 30px 0 0 0;
    transform: translate(-50%, -50%);
  }
  .home-intro {
    padding: 110px 0 0 20px;
    text-align: center;
  }
  .home-intro-head {
    font-size: 100px;
    letter-spacing: 5px;
  }
  .home-text {
    font-size: 25px;
    letter-spacing: 3px;
  }
  .content {
    height: 695px;
  }
  .credits {
    position: relative;
    bottom: -240px;
  }
  .footer-mobile{
    display: none;
  }
  .about{
  padding: 40px 0 0 0;
}
.about-text{
  padding: 0 100px 0 100px;
   font-size: 20px;
  
}
.img-s{
 max-width: 220px;

}
}
.home-intro {
  font-family: "Sedgwick Ave", cursive;
  color: #0d677e;
}

.credits {
  font-family: "Sedgwick Ave", cursive;
  color: #0d677e;
  text-align: center;
  font-size: 10px;
}
.about{
  text-align: center;
 
}
.img-s{
 border:2px solid #0d677e;
  border-radius: 50%;
}
.about-text{
  color: #0d677e;
   font-family: "Cabin", sans-serif;
  
}