body {
  background-color: white;
  overflow-y: hidden;
}

.bgimg-1 {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("img/intro.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky + .content {
  padding-top: 102px;
}

.bgimg-2 {
  background-image: url("");
  min-height: 100%;
}
@media only screen and (max-width: 600px) {
  .bgimg-2 {
    background-image: url("img/intro-m.jpg");
    min-height: 100%;
  }
}

.sticky {
  position: fixed;
  box-shadow: 0.1px 0.1px 10px black;
  background-color: rgba(224, 224, 224, 0.911);
  top: 0;
  width: 100%;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .sticky {
    padding: 10px;
  }
}

@keyframes sticky {
  from {
  }
}

@media only screen and (max-width: 600px) {
  .navul {
    display: none;
  }
}

.navul {
  list-style-type: none;
  float: right;
}

.navul > li {
  display: inline-block;
  margin: 0;
}

.nav-a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  padding-right: 10px;
}

.nav-b {
  text-decoration: none;
  padding-left: 30px;
}

.nav-a:hover {
  color: #2c308e;
  letter-spacing: 2px;
  transition: 0.3s;
  text-shadow: 0 3px 0.5px solid black;
}

.header-img {
  width: 48px;
  padding-left: 10px;
  padding-top: 10px;
}

.mnav-ul {
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  padding: 20px;
  color: white;
  box-shadow: 2px 2px 9px black;
  border-radius: 8px;
  background-color: rgb(112, 112, 112);
  border-bottom: 0.6px solid white;
  font-size: 23px;
  position: sticky;
}

.mnav-content {
  top: -25;
  height: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  width: 100%;
}

.intro-text {
  text-align: center;
  padding-top: 100px;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

#mydiv {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  overflow-y: hidden;
}

.intro-head {
  font-size: 120px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 20px;
}

.intro-head:hover {
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .intro-text {
    display: none;
  }
}

.intro-text-mobile {
  text-align: center;
  padding-top: 100px;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

.intro-head-m {
  font-size: 55px;
  font-family: "Oswald", sans-serif;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .intro-text-mobile {
    display: none;
  }
}

@keyframes intro-text {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid #b9ccdd;
  border-radius: 50%;
  border-bottom: 3px solid red;
  border-top: 3px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.intro {
  text-align: center;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.row {
  padding-top: 20px;
}
.mem-img {
  position: relative;
  width: 250px;
  padding-top: 20px;
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}
.mem-img1 {
  position: relative;
  margin: auto;
  padding: 0;
  background-size: 100%;
  background-position: center;
  transition: 0.3s;
}
@media only screen and (max-width: 600px) {
  .mem-img1 {
    padding-top: 50px;
  }
}
.mhover {
  color: black;
  padding: 8px;
  background-size: 105%;
}
.mhover::after {
  content: attr(alt);
  text-align: center;
}

.modal-caption {
  padding-left: 10px;
}

.row4 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 20px 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  display: none; /* Hide all elements by default */
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.column > img {
  border-radius: 5px;
}

.column > img:hover {
  opacity: 0.9;
}
.pagination {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.pagination:hover {
  background-color: rgba(224, 224, 224, 0.911);
  outline: none;
  border-radius: 10px;
  transition: 0.15s;
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .pagination {
    font-size: 15px;

    padding: 5px;
  }
  .pgnul {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
.pgnul {
  text-align: center;
  padding: 0;
}

.show {
  display: block;
}

.pagination.active {
  background-color: #666;
  color: white;
  border-radius: 10px;
}
