body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
html,body{
  scroll-behavior: smooth;
}
 h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin:0;
  font-weight: 500;
}

a{
  text-decoration: none;
  all: unset;
}

/* the template code starts here */
.bgimg-1 {
  position: relative;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.bgimg-1 {
  background-image: url("images/conf.jpeg");
 min-height: 100%;
}

.intro{
  font-family: 'Open Sans',sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title{
font-size: 90px;
white-space: nowrap;
color: #C1A02C;
font-weight:900;

}

/*media query for mobile starts here*/
@media only screen and (max-width:600px){
.title{
font-size: 25px;
}
.caption{
font-size: 21px;
}
.intro-clg{
font-size: 15px;
}
.navbar{
  display: none;
}
}
/*media query for pc starts here*/
@media only screen and (min-width:600px){
  .caption{
    font-size:40px;
    letter-spacing: 2px;
  }
  .intro-clg{
  font-size:19px;
  letter-spacing: 2px;
}
.navtoggle{
  display:none;
}
.mobile-nav{
  display: none;
}
.ab-text{
  padding:0 100px 0 100px;
 line-height:24px;
} 
}
.caption{
color: white;
}
 
.navbar >li{
  display: inline-block;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
  font-family: 'Lato',sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
}
.navbar >li:hover{
  background-color: white;
  color: #3498db;
  font-weight: bold;
  cursor: pointer;
}
.navbar{
  color: white;
  background-color: #3498db;
  margin: 0;
  padding:0;
  text-align: center;
  position: relative;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*the social code*/
.blogsocio {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
}

.blogsocio li {
  display: inline-block;
  padding-left: 7px;
  font-size: 20px;
}

.blogsocio li > a {
  text-decoration: none;
}

.blogsocio li > a > i {
  color: #bf9f2b;
}
/* end of social code*/
.mobile-nav{
  display: none;
  margin:0;
  color: white;
  background-color: #3498db;
  text-decoration: none;
  border-bottom: 2px solid black ;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  animation-name: down;
  animation-duration: 1s;
}
.mobile-nav >li{
  list-style-type: none;
  padding:10px 0 10px 15px;
  font-size: 18px;
  font-family: 'Lato',sans-serif;
  letter-spacing: 1px;
  font-weight: 100;

}
@keyframes down{
  from{
    height:0px;

  }
  to{
    height:300px;
  }
}

#nav-toggle{
  padding: 10px;
  font-size:29px;
  background-color:#3498db; 
  color: white;
  font-weight:bolder;
 
}
.arrow{
 position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  cursor: pointer;
}
.arrow>a>img {
  width: 80px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 0 0 1px 0;
}

[class*="col-"] {
  float: left;
  padding:1px 0 1px 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

#about{
  font-family: 'Oswald',sans-serif;
  text-align: center;
}
.ab-text{
  font-family: 'Roboto' ,sans-serif;
  font-size: 17px;
}
@media only screen and (max-width:600px){
  .ab-text{
    padding:10px 20px 0 20px;
    margin: 0; 
    line-height:1.5;
   }
}
#whatwedo{
padding: 40px 0 0 0 ;
font-family: 'Oswald', sans-serif;
text-align: center;
}
#hes{
  font-family: 'Oswald',sans-serif;
  text-align: center;
}